.back-ground {
  background: linear-gradient(135deg, #aedcff, #d4b4fe);
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.map {
  width: 1280px;
  height: 800px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.map-header input[type='text'] {
  width: 150px;
  height: 30px;
  font-size: 14px;
}

.map-header input[type='text']::placeholder {
  color: #999; 
}

.map-header input[type='text']:focus {
  outline: none; 
}

.map-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.map-header hr {
  margin-top: 10px; 
  margin-bottom: 20px; 
}

.map-header {
  text-align: center; 
}
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  width: 300px;
  height: 40px;
  border: 2px solid #007bff;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  width: 100px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button span {
  margin-left: 5px;
}

